<div class="container text-center">
    <h1>Access your account.</h1>
    <p class="lead">Welcome back? You can currently log in or register with Facebook or Twitter.</p>
    
    <div class="jumbotron text-center">
      <h1><i class="fa fa-lock"></i> Log In</h1>
      <p>Log in or register with:</p>
      <p><a href="/auth/facebook" class="btn btn-success btn-lg"><i class="fa fa-facebook"></i> Facebook</a><a href="/auth/twitter" class="btn btn-success btn-lg"><i class="fa fa-twitter"></i> Twitter</a></p>
    </div>
    
    <p class="text-muted"><small>Changed your mind? <a href="#/"><i class="fa fa-home"></i> Home</a></small></p>

</div>