<div class="container">
    
    <div class="col-md-12">
    
        <div>
            <form ng-submit="bookSearch()">
                <div class="form-group">
                    <br>
                    <div class="input-group">
                        <input ng-model="bookTerms" name="bookTerms" id="bookTerms" type="text" class="form-control" placeholder="What book do you want to add?">
                        <span class="input-group-btn">
                            <input type="submit" id="submitLocation" class="btn btn-block btn-success" value="Find Book" />
                        </span>
                    </div>
                </div>
            </form>
        </div>
        
        <div ng-if="loading">
            <div class="well text-center">
              <h3><i class="fa fa-refresh fa-spin"></i> Loading books...</h3>
            </div>
        </div>
        
        <div ng-if="message">
            <div class="well text-center">
              <h3><i class="fa fa-exclamation-triangle"></i> {{ message }} </h3>
            </div>
        </div>
    
    </div>
    
    <div class="col-md-12" ng-repeat="book in bookItems">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">{{ book.volumeInfo.title }}</h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-4">
                      <p><img class="img-responsive img-center" ng-src="{{ book.volumeInfo.imageLinks.thumbnail }}" /></p>
                  </div>
                  <div class="col-md-8">
                      <p><b>Published:</b> {{ book.volumeInfo.publishedDate }}<br>
                      <b>Average Rating:</b> {{ book.volumeInfo.averageRating }}<br>
                      <b>Number of Ratings:</b> {{ book.volumeInfo.ratingsCount }}<br>
                      <b>Description:</b> {{ descriptionLength(book.volumeInfo.description) }}</p>
                      <p ng-if="!checkOwns(book.id)"><button ng-click="requestAdd(book.id)" class="btn btn-default btn-block">Add</button></p>
                  </div>
                  <div ng-if="book.addRequest" class="col-md-12">
                      <div class="well text-center">
                      <small>Are you sure you want to add this book to your library?</small><br>
                      <button ng-click="cancelAdd(book.id)" class="btn btn-danger btn-sm">Cancel</button><button ng-click="addBook(book)" class="btn btn-success btn-sm">Add Book</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
</div>