<div id="home-banner" class="row text-center">
    <div class="col-md-12">
        <h1>Book Share</h1>
        <img class="img-responsive img-center" src="/public/img/booksharing.jpg" />
        </br>
    </div>
</div>

<div class="container text-center">
    
    <div class="col-md-4">
        <div class="well">
            <i class="fa fa-5x fa-search"></i>
            <h3>Search<br>Books</h3>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <i class="fa fa-5x fa-plus-square"></i>
            <h3>Add Your<br>Books</h3>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <i class="fa fa-5x fa-book"></i>
            <h3>Browse<br>Library</h3>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <i class="fa fa-5x fa-retweet"></i>
            <h3>Swap<br>Books</h3>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <i class="fa fa-5x fa-bookmark"></i>
            <h3>Manage<br>Library</h3>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="well">
            <i class="fa fa-5x fa-exchange"></i>
            <h3>Manage<br>Trades</h3>
        </div>
    </div>
    
</div>